
h1 {
    position: relative;
    padding: 0.5em;
    background: #a6d3c8;
    color: white;
  }
  
  h1::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
  }
p{font-size: x-large}
p{
   
      color: navy;
    }
    body {
        background-color: rgb(225, 243, 229);
      }